.form{
    width:100%px;
    background-color: darkgray;
     box-sizing: border-box;
}
#formLogIn{
    width: 300px;
    /* background-color: brown; */
    margin-left: 5%;
    height: 400px;
    float: left;
  background-color: white;
  margin-top: 30px;
  
}
.formShow{
    width: 60%;
    margin-left: 10px;
    margin-top: 20px;
    float: left;
    
}
#menu{
    height: 100px;
    width: 100%;
    background-color: black;
    
}
 .search-container  {
  float: right;
  padding: 6px 10px;
  
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#thongtin{
   background-color: white;
    
}


#tieuDe{
  margin-left: 45%;
  color: white;
   
}
.error{
    color: red;
}
.information{
    margin-left: 33px;
}
#add{
    margin-left: 10%;
    font-size: 20px;
}
#timkiem{
    margin-left: 40%;
    width: 250px;
    height: 40px;
}
#anh{
   
	position: absolute;
	width: 30px;
    height: 30px;
    top:32px;
    right: 75.4%;

}